<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>ページタイトル | ファブ地球社会創造拠点</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="慶應義塾大学 湘南藤沢キャンパス（SFC）" />
<meta name="format-detection" content="telephone=no" />
<!--[if lt IE 9]>
<script src="/assets/scripts/html5shiv-printshiv.js"></script>
<script src="/assets/scripts/IE9.js"></script>
<![endif]-->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/common/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/common/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/common/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/common/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/common/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/common/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/common/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/common/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/common/apple-touch-icon-180x180.png" />
<link rel="icon" type="image/png" href="/assets/images/common/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/assets/images/common/favicon-194x194.png" sizes="194x194" />
<link rel="icon" type="image/png" href="/assets/images/common/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/assets/images/common/android-chrome-192x192.png" sizes="192x192" />
<link rel="icon" type="image/png" href="/assets/images/common/favicon-16x16.png" sizes="16x16" />
<link rel="manifest" href="/assets/images/common/manifest.json" />
<link rel="mask-icon" href="/assets/images/common/safari-pinned-tab.svg" color="#ca3842" />
<link rel="shortcut icon" href="/assets/images/common/favicon.ico" />
<meta name="msapplication-TileColor" content="#ca3842" />
<meta name="msapplication-TileImage" content="../assets/images/common/mstile-144x144.png" />
<meta name="msapplication-config" content="../assets/images/common/browserconfig.xml" />
<meta name="theme-color" content="#ca3842" />
<link rel="stylesheet" href="/assets/styles/main.css" />
</head>
<body>
<!--//▽sb-site start//-->
<div id="sb-site">

<!--//▽site_header start//-->
<div class="bg_white">
<header id="site_header">
	<p id="header_logo" class="header_logo_coi"><a href="/">ファブ地球社会創造拠点</a></p>
	<nav id="g_nav" class="g_nav_coi">
		<ul>
			<li><a href="/" class="current">ホーム</a></li>
			<li><a href="#">お知らせ</a></li>
			<li><a href="#">挨拶＆概要</a></li>
			<li><a href="#">体制</a></li>
			<li><a href="#">拠点</a></li>
			<li><a href="#">参加機関</a></li>
		</ul>
	</nav>
	<div class="g_nav_s sb-toggle-right"><a href="#">MENU</a></div>
</header>
</div>
<!--//▲site_header end//--> 

<!--//▽contents start//--> 
<div id="contents">
	<main>
		<section>
			<div class="bg_coi_tit">
				<h1 id="page_tit">h1ページタイトル</h1>
			</div>
			<div class="bg_white">
				<div class="page_inner">
					<div id="content_inner">
					
						<!--//▽content_inner_box start//-->
						<section class="content_inner_box content_inner_box_coi">
							<h2>h2タイトルが入りますh2タイトルが入りますh2タイトルが入ります</h2>
							<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります5<sup>2</sup>。</p>
							<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります7<sub>2</sub>。</p>
							<div class="txt_photo pd_t_32 cf">
								<figure><img src="/assets/images/common/dummy.gif" alt="写真" width="264" height="186" /><figcaption>写真について</figcaption></figure>
								<div class="txt_box">
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
								</div>
							</div>
							<section class="content_inner_item">
								<h3>h3タイトルが入ります</h3>
								<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
								<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
								<section class="content_inner_item">
									<h4>h5タイトルが入ります</h4>
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
								</section>
							</section>
						</section>
						<!--//▲content_inner_box end//--> 
						
						<!--//▽content_inner_box start//-->
						<section class="content_inner_box content_inner_box_coi">
							<h2>h2タイトルが入ります</h2>
							<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
							<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
							<div class="photo_txt pd_t_32 cf">
								<figure><img src="/assets/images/common/dummy.gif" alt="写真" width="264" height="186" /><figcaption>写真について</figcaption></figure>
								<div class="txt_box">
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
								</div>
							</div>
							<ul>
								<li>リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。</li>
								<li>リストの内容がはいります。</li>
								<li>リストの内容がはいります。</li>
							</ul>
							<section class="content_inner_item">
								<h3>h3タイトルが入ります</h3>
								<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
								<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
								<ul>
									<li>リストの内容がはいります。</li>
									<li>リストの内容がはいります。</li>
									<li>リストの内容がはいります。</li>
								</ul>
								<section class="content_inner_item">
									<h4>h5タイトルが入ります</h4>
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
									<ul>
										<li>リストの内容がはいります。</li>
										<li>リストの内容がはいります。</li>
										<li>リストの内容がはいります。</li>
									</ul>
								</section>
							</section>
						</section>
						<!--//▲content_inner_box end//--> 
						
						<!--//▽content_inner_box start//-->
						<section class="content_inner_box content_inner_box_coi">
							<h2>h2タイトルが入ります</h2>
							<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
							<div class="photo pd_b_32">
								<figure><img src="/assets/images/common/dummy.gif" alt="写真" /><figcaption>写真について</figcaption></figure>
							</div>
							<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
							<ul>
								<li>リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。</li>
								<li>リストの内容がはいります。</li>
								<li>リストの内容がはいります。</li>
							</ul>
							<section class="content_inner_item">
								<h3>h3タイトルが入ります</h3>
								<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
								<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
								<ul>
									<li>リストの内容がはいります。</li>
									<li>リストの内容がはいります。</li>
									<li>リストの内容がはいります。</li>
								</ul>
								<section class="content_inner_item">
									<h4>h5タイトルが入ります</h4>
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
									<ul>
										<li>リストの内容がはいります。</li>
										<li>リストの内容がはいります。</li>
										<li>リストの内容がはいります。</li>
									</ul>
								</section>
							</section>
							<div class="photo pd_t_32">
								<figure><img src="/assets/images/common/dummy.gif" alt="写真" /><figcaption>写真について</figcaption></figure>
							</div>
						</section>
						<!--//▲content_inner_box end//--> 
						
						<!--//▽content_inner_box start//-->
						<section class="content_inner_box content_inner_box_coi">
							<h2>h2タイトルが入ります</h2>
							<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
							<table class="mrg_b_32">
								<thead>
									<tr>
										<th>大項目</th>
										<th>大項目</th>
										<th>大項目</th>
										<th>大項目</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>中項目</th>
										<td>小項目</td>
										<td>小項目</td>
										<td>小項目テキストが入ります</td>
									</tr>
									<tr>
										<th>中項目テキストが入ります</th>
										<td>小項目</td>
										<td>小項目</td>
										<td>小項目</td>
									</tr>
									<tr>
										<th>中項目</th>
										<td>小項目</td>
										<td>小項目</td>
										<td>小項目</td>
									</tr>
								</tbody>
							</table>
							<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
							<ol>
								<li>リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。リストの内容がはいります。</li>
								<li>リストの内容がはいります。</li>
								<li>リストの内容がはいります。</li>
							</ol>
							<section class="content_inner_item">
								<h3>h3タイトルが入ります</h3>
								<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
								<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
								<ol>
									<li>リストの内容がはいります。</li>
									<li>リストの内容がはいります。</li>
									<li>リストの内容がはいります。</li>
								</ol>
								<section class="content_inner_item">
									<h4>h5タイトルが入ります</h4>
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
									<p>テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。テキストの内容が入ります。</p>
									<ol>
										<li>リストの内容がはいります。</li>
										<li>リストの内容がはいります。</li>
										<li>リストの内容がはいります。</li>
									</ol>
								</section>
							</section>
						</section>
						<!--//▲content_inner_box end//--> 
						
					</div>
					<div id="sub_content">
						<nav id="l_nav">
							<dl>
								<dt>メニュータイトル</dt>
								<dd><a href="#">メニューメニューメニューメニュー</a></dd>
								<dd><a href="#">メニュー</a></dd>
								<dd><a href="#">メニュー</a></dd>
							</dl>
						</nav>
						<aside id="bnr_area">
							<ul>
								<li><a href="#" rel="external"><img src="/assets/images/common/dummy.gif" alt="バナー内容" width="234" height="67" /></a></li>
								<li><a href="#" rel="external"><img src="/assets/images/common/dummy.gif" alt="バナー内容" width="234" height="67" /></a></li>
								<li><a href="#" rel="external"><img src="/assets/images/common/dummy.gif" alt="バナー内容" width="234" height="67" /></a></li>
							</ul>
						</aside>
					</div>
				</div>
			</div>
		</section>
	</main>
</div>
<!--//▲contents end//--> 

<!--//▽site_footer start//--> 
<footer id="site_footer">
	<div class="bg_dark_bk">
		<div id="site_footer_inner">
			 <p id="footer_logo" class="footer_logo_coi"><a href="/">ファブ地球社会創造拠点</a></p>s
			<address id="site_adress">
				<dl>
					<dt>慶應義塾大学SFC研究所ソーシャルファブリケーション・ラボ<br />慶應義塾大学SFC研究所ファブ地球社会コンソーシアム</dt>
					<dd>
						<p>〒231-0023　神奈川県横浜市中区山下町223-1 NU関内ビル2F</p>
						<ul>
							<li>TEL：<a href="tel:0453194763">045-319-4763</a></li>
							<li>FAX：045-319-4764</li>
							<li>E-mail：<a href="m&#97;i&#108;t&#111;:&#102;&#97;b&#101;&#97;&#114;&#116;&#104;@&#115;&#102;c&#46;&#107;&#101;io.&#97;c.&#106;&#112;" rel="external">&#102;&#97;b&#101;&#97;&#114;&#116;&#104;@&#115;&#102;c&#46;&#107;&#101;io.&#97;c.&#106;&#112;</a></li>
						</ul>
					</dd>
				</dl>
			</address>
			<p id="bnr_keio"><a href="http://www.keio.ac.jp/" rel="external"><span class="icon_new_window">慶應塾公式サイト</span></a></p>
		</div>
	</div>
	<p id="copyright"><small>&copy; 2015  Keio University. All rights reserved.</small></p>
</footer>
<!--//▲site_footer end//--> 

</div>
<!--//▲sb-site end//-->
 
<!--//▽sb-slidebar start//-->
<div class="sb-slidebar sb-right">
	<nav>
  	<ul class="sb-menu">
   		<li><a href="/">ホーム</a></li>
			<li><a href="/">お知らせ</a></li>
			<li><a href="#">挨拶＆概要</a></li>
			<li><a href="#">体制</a></li>
			<li><a href="#">拠点</a></li>
			<li><a href="#">参加機関</a></li>
			<li><a href="#">ヒューマンデザイン</a></li>
			<li><a href="#">プロセステクノロジー</a></li>
			<li><a href="#">超マテリアル</a></li>
			<li><a href="#">共創型イノベーション</a></li>
			<li><a href="#">ポリシー</a></li>
			<li><a href="#" rel="external" class="icon_new_window">ファブ地球社会コンソーシアム</a></li>
    </ul>
  </nav>
</div>
<!--//▲sb-slidebar end//-->

<script src="/assets/scripts/jquery-1.11.3.min.js"></script> 
<script src="/assets/scripts/plugin.js"></script> 
<script src="/assets/scripts/common.js"></script>
</body>
</html>